
<div class="container">
    <h2 class="text-center mt-5">Contact Details</h2>
<!-- search key -->
<div class="row justify-content-center">
   
        <div class="col-lg-6">
        <form class="">
            <input name="search" type="text" [(ngModel)]="searchKey" class="form-control" placeholder="Search contacts Here...">
        </form>
        </div>
</div>


<table class="table table-bordered table text-center p-5 mt-5">
    <thead>
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Age</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Company Name</th>
            <th>Job Title</th>
        </tr>
    </thead>
    <tbody>
       <tr *ngFor="let contact of allContact | filter : searchKey : 'name' ">
            <td>{{contact.firstName}} {{contact.lastName}}</td>
            <td> <img width="100px" height="100px" src="{{contact.image}}" alt=""> </td>
            <td>{{contact.age}}</td>
            <td>{{contact.email}}</td>
            <td>{{contact.phone}}</td>
            <td>{{contact.address.address}},{{contact.address.city}},{{contact.address.city.name}}</td>
            <td>{{contact.company.name}}</td>
            <td>{{contact.company.title}}</td>
       </tr>

    </tbody>
</table>
</div>
